$color__accent: #00d1b7;
$color__accent_text: #109d92;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__accent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #3d3d3d;
$color__text-input: #888686;
$color__text-button: #fff;
$color__text-button-hover: #fff;
$color__text-input-focus: #111;
$color__link: #000000;
$color__link-visited: #000000;
$color__link-hover: #262626;
$color__text-main: #262626;

$color__border-button: $color__accent;
$color__border-button-hover: #000;
$color__border-button-focus: #000;
$color__border-input: #e1e1e1; /*#e1e1e1*/
$color__border-focus: #000;
$color__border-abbr: #666;
$color__background-button-hover: #363636;
$color__border: #939393;

$color__page_heading_title: #000;
$color__secondary_deco: #f8f9fa;
$color__secondary_text: #939393;

$color__border-link-hover: $color__link-hover;
